{
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": false,
	"endOfLine": "crlf",
	"importOrder": [
		"^~db/(.*)$",
		"^~routes/(.*)$",
		"^~controllers/(.*)$",
		"^~services/(.*)$",
		"^~/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": [
		"@trivago/prettier-plugin-sort-imports"
	]
}